rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /preLocacoes/{document} {
      allow create: if true;
      allow read: if request.auth != null;
      allow update, delete: if false;
    }

    match /feedbacks/{document} {
      allow create: if true;
      allow read: if request.auth != null;
      allow update, delete: if false;
    }
  }
}
